:host {
    font-weight: 400;
    font-size: 1.2em;
}

mat-card {
    background:rgb(0, 255, 21);
    flex: auto;
    margin: 2rem;
}

input {
    color: black;
}

mat-spinner{
    margin: auto;
}

mat-form-field,
textarea {
    margin: 1rem;
    width: 35%;
}

.mat-raised-button {
    margin: 2rem;
}

.passicon{
    font-size: 15px;
}

mat-icon {
    cursor: pointer;
    width:22px !important;
}