<mat-toolbar color="primary" class="height">
  <button mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon></mat-icon>
  <span>Learning Management System</span>
  <span class="example-spacer"></span>
  <ul>
    <li>
      <a mat-raised-button routerLinkActive="mat-accent" color="primary">Log in</a>
    </li>
  </ul>
  <ul>
    <li>
      <a mat-raised-button routerLinkActive="mat-accent" (click)="goRegister()" color="primary">Register</a>
    </li>
  </ul>
  <ul>
    <li>
      <a mat-raised-button routerLinkActive="mat-accent" color="primary">Log out</a>
    </li>
  </ul>
</mat-toolbar>
