.example-spacer {
    flex: 1 1 auto;
}

.height {
  flex:auto;
  height: 50px;
  width:100%;
}

.mat-raised-button {
  background-color: rgb(87, 0, 158) !important;
}

.mat-accent {
  background-color: rgb(93, 248, 93) !important;
}

.a {
  margin: 2px 10px;
  width: 100px;
  background-color: rgb(190, 255, 177);
}

ul {
  list-style: none;
  float: left;
  padding: 1px;
  margin: 5px;
}

h2 {
  margin: 1.5rem;
}

h1,a,ul {
  color:black;
}