<mat-toolbar color="primary" class="height">
  <span>Learning Management System</span>
  <span class="example-spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
    <a mat-raised-button
      routerLink="/login"
      routerLinkActive="mat-accent"
      color="primary">
        Log in</a>
    </li>
  </ul>
  <ul>
    <li *ngIf="!userIsAuthenticated">
    <a mat-raised-button
      routerLinkActive="mat-accent"
      (click)="goRegister()"
      color="primary">
        Register</a>
    </li>
  </ul>
  <ul>
    <li *ngIf="userIsAuthenticated">
    <a mat-raised-button
      routerLinkActive="mat-accent"
      (click)="logout()"
      color="primary">
        Log out</a>
    </li>
  </ul>
</mat-toolbar>