.example-spacer {
    flex: 1 1 auto;
  }
.position_right{
  height: 20px;
  color: coral;
  font-family: serif;
  position:fixed;
  bottom:8px;
}
.position_left{
  height: 20px;
  color: coral;
  font-family: serif;
  position:fixed;
  bottom:8px;
  left: 70%;
}