<div class="container">
  <div class="calendar">
    <div class="front">
      <div class="current-date">
        <h1>{{ this.day }} {{ this.datenum }}{{this.salutation}}</h1>
        <h1>{{ this.month }} {{ this.year }}</h1>
      </div>
      <div class="date-schroll">
        <svg width="20px" height="20px" viewBox="0 0 1024 1024" class="icon">
          <path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 0 0 0 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z"/>
        </svg>
        <svg width="20px" height="20px" viewBox="0 0 1024 1024" class="icon">
          <path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 0 0 302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 0 0 0-50.4z"/>
        </svg>
      </div>
      <div class="current-month">
        <ul class="week-days">
          <li>SUN</li>
          <li>MON</li>
          <li>TUE</li>
          <li>WED</li>
          <li>THU</li>
          <li>FRI</li>
          <li>SAT</li>
        </ul>
        <div class="weeks new">
          <div *ngFor="let week of weeks" class={{week}}>
            <!-- class => active -> curent
            class => event -> forevent -->
            <span *ngFor="let day of [0,1,2,3,4,5,6]"
              class="{{ this.nextCalendarDate() }} {{ this.datectclass(this.vardate) }}">
              {{ this.datetoStringArr(this.vardate)[2] }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="back">
      <input placeholder="What's the event?">
      <div class="info">
        <div class="date">
          <p class="info-date">
          Date: <span>Jan 15th, 2016</span>
          </p>
          <p class="info-time">
            Time: <span>6:35 PM</span>
          </p>
        </div>
        <div class="address">
          <p>
            Address: <span>129 W 81st St, New York, NY</span>
          </p>
        </div>
        <div class="observations">
          <p>
            Observations: <span>Be there 15 minutes earlier</span>
          </p>
        </div>
      </div>

      <div class="actions">
        <button class="save">
          Save <i class="ion-checkmark"></i>
        </button>
        <button class="dismiss">
          Dismiss <i class="ion-android-close"></i>
        </button>
      </div>
    </div>

  </div>
</div>