mat-sidenav-container {
  height: 100%;
}

mat-sidenav-container,
mat-sidenav,
mat-toolbar {
  background: transparent;
}

mat-toolbar {
  height: 45px;
}

mat-sidenav {
  max-width: 200px;
}

mat-nav-list {
  padding: 10px;
}

h2 {
  padding-left:40px;
}

a {
  margin: 4px;
  width: 180px;
  height: 35px;
  text-align: left;
}

.upload {
  color:rgb(133, 255, 144);
}

.mat-accent {
  color: rgb(87, 0, 158);
  background-color: rgba(100, 255, 113, 0.8);
}

.tool {
  display: flex;
  margin:auto 30px auto auto;
  @media only screen and (max-width: 1630px) {
    margin:auto 50px auto auto;
  }
  @media only screen and (max-width: 800px) {
    margin:auto 20px auto auto;
  }
}

.tool mat-icon {
  cursor: pointer;
  margin: 5px;
}