<mat-sidenav-container (click)="onclick()">
  <mat-sidenav (contextmenu)="onRightClickSupress($event)"  mode="side" #sidenav opened>
    <mat-toolbar color="accent">
      <h2>Storage</h2>
    </mat-toolbar>
    <mat-nav-list>
      <div class="upload">
        <input
          type="file"
          hidden
          accept="*"
          (change)="fileupload($event)"
          #fileInput/>
        <a mat-flat-button 
          (click)="fileInput.click()">
          <mat-icon>cloud_upload</mat-icon>
          Upload</a>
      </div>
      <br>
      <div class="loc">
        <a mat-button
          routerLink="drive"
          routerLinkActive="mat-accent"
          color="primary">
          <mat-icon>call_to_action</mat-icon>
          My Drive</a>
      </div>
      <div class="loc">
        <a mat-button
          routerLink="shared"
          routerLinkActive="mat-accent"
          color="primary">
          <mat-icon>folder_shared</mat-icon>
          Shared</a>
      </div>
      <div class="loc">
        <a mat-button
          routerLink="trash"
          routerLinkActive="mat-accent">
          <mat-icon>restore_from_trash</mat-icon>
          Trash</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="screen">
      <mat-toolbar color="accent" (contextmenu)="onRightClickSupress($event)">
        <div class="back">
          <mat-icon (click)="onbackClick()" *ngIf="back">arrow_back</mat-icon>
        </div>
        {{path}}
        <div class="tool">
          <mat-icon (click)="onviewClick()" *ngIf="view == 'list'">view_list</mat-icon>
          <mat-icon (click)="onviewClick()" *ngIf="view == 'grid'">view_comfy</mat-icon>
        </div>
      </mat-toolbar>
      <mat-divider></mat-divider>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>