<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav opened>
    <mat-toolbar color="accent">
      <h2>Storage</h2>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-button
        class="upload">
        <mat-icon>cloud_upload</mat-icon>
        Upload</a>
      <br>
      <a mat-button
        routerLink="drive"
        routerLinkActive="mat-accent"
        color="primary">
        <mat-icon>call_to_action</mat-icon>
        My Drive</a>
      <br>
      <a mat-button
        routerLink="shared"
        routerLinkActive="mat-accent"
        color="primary">
        <mat-icon>folder_shared</mat-icon>
        Shared</a>
      <br>
      <a mat-button
        routerLink="trash"
        routerLinkActive="mat-accent">
        <mat-icon>restore_from_trash</mat-icon>
        Trash</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="screen">
      <mat-toolbar color="accent">
        {{path}}
        <div class="tool">
          <mat-icon (click)="onviewClick()" *ngIf="view == 'list'">view_list</mat-icon>
          <mat-icon (click)="onviewClick()" *ngIf="view == 'grid'">view_comfy</mat-icon>
        </div>
      </mat-toolbar>
      <mat-divider></mat-divider>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>