<mat-grid-list cols="7" >
  <mat-grid-tile colspan="3">
    <div class="cards">
      <mat-accordion multi="false" class="mat-accordion">
        <mat-expansion-panel class="subject" *ngFor="let subject of subjects">
          <mat-expansion-panel-header>
            <h3>
              <span class="span_width">BCE - 302</span>
              {{subject}}
            </h3>
          </mat-expansion-panel-header>
          <div>
            <h3><span class="span_width">batch:</span> CSE 4th year</h3>
            <h3><span class="span_width">current unit:</span> UNIT 3</h3>
            <h3><span class="span_width">covered:</span> topic1 topic2</h3>
            <h3><span class="span_width">remaining:</span> topic3 topic4</h3>
            <h2>Graph</h2>
          </div>
          <div>
            <a mat-button class="syllabus"
              (click)="syllabus()">
              Syllabus
            </a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div>
      <mat-card class="cards" *ngFor="let subject of subjects;let i = index">
        <h2>{{subject}}</h2>
        <h4>batch: CSE 3rd year</h4>
        <mat-progress-bar mode="determinate" value="{{20 + 10*i}}"></mat-progress-bar>
        <h5>Next class : Monday 11:00am </h5>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div>
      <a mat-button class="items">
        <a mat-button
        routerLinkActive="mat-accent"
        (click)="calender()">
        Calender</a>
      </a>
      <a mat-button class="items">
        <a mat-button
        routerLinkActive="mat-accent"
        (click)="timetable()">
        Time Table</a>
      </a>
      <a mat-button class="items">
        <a mat-button
        routerLinkActive="mat-accent"
        (click)="meeting()">
        Meeting</a>
      </a>
      <a mat-button class="items">
        <a mat-button routerLink="/testsheet"
        routerLinkActive="mat-accent"
        color="warn">
        Take test</a>
      </a>
      <a mat-button class="items">
        <a mat-button routerLink="/videomeet"
        routerLinkActive="mat-accent"
        color="primary">
        Classes</a>
      </a>
    </div>
  </mat-grid-tile>
</mat-grid-list>