:host {
  padding: 5px;
  display: block;
}

mat-grid-list {
  display: flex;
}

mat-grid-tile {
  height:calc(70vh - 50px);
}

.items {
  margin: 10px;
  background-color: white;
  color: black;
}

div {
  width: 100%;
  align-self: start;
}

a {
  width: 80%;
}