:host {
  color: black
}
.mat-table {
  color: black;
  font-size: 16px;
  text-align: center;
  background-color:rgb(255, 88, 255);
  width: 100%;
}

.table-div {
  padding: 1rem;
}

table {
  border: 3px solid rgb(255, 88, 255);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
  // border-collapse: collapse;
}

th, td {
  padding: 5px;
  // border: 1px solid black;
}


.mat-column-day {
  width: 25px;
  text-align: center;
}

.mat-column-Period1,
.mat-column-Period2,
.mat-column-Period3,
.mat-column-Period4,
.mat-column-Period5,
.mat-column-Period6 {
  width: 20px;
  text-align: center;
}

a {
  margin: 1rem;
  float: right;
}