mat-icon {
  padding-left: 5px;
  padding-right: 10px;
}

mat-list {
  padding: 0;
}

mat-divider {
  width: 100%;
  clear: both;
}

mat-card {
  text-align: center;
}

div.info {
  width: 100%;
  flex:auto;
  height: 2rem;
  margin: 0 0 auto 0;
  padding: 0;
}

.recents mat-card {
  float: left;
  flex: auto;
  margin: 2rem 0 2rem 2rem;
  width: 20%;
  @media only screen and (max-width: 1740px) {
    width: 19%;
  }
  @media only screen and (max-width: 1500px) {
    width: 25%;
  }
  @media only screen and (max-width: 1097px) {
    width: 40%;
  }
  @media only screen and (max-width: 1024px) {
    width: 36%;
  }
  @media only screen and (max-width: 800px) {
    width: 34%;
  }
  @media only screen and (max-width: 670px) {
    width: 75%;
  }
  @media only screen and (max-width: 816px) and (min-width:668px){
    .info .size {
      display: none;
    }
  }
  // @media only screen and (max-width: 630px) {
  //   width: 75%;
  // }
}

.items {
  margin-top: 0rem;
  margin: 1.5rem;
}

.list {
  margin: 0.4rem;
}

.items mat-card {
  float: left;
  flex: auto;
  margin: 0.5rem;
  width: 80px;
  .name {
    overflow: hidden;
  }
}

.list_file {
  float: left;
  text-align: left;
  width:100px;
  height: 1.3rem;
  overflow: hidden;
  margin:5px;
  padding-left: 5px;
}

.size {
  float: right;
  margin-top: 5px;
  margin-right:20px;
}

.date {
  float:right;
  margin-top: 5px;
  margin-right: 50px;
}

.list mat-card {
  flex:auto;
  height: 2rem;
  margin: 0.5rem;
  padding: 5px;
  width: 95%;
  @media only screen and (max-width: 1024px) {
    width: 90%;
  }
  .date {
    @media only screen and (max-width: 670px) {
      display: none;
    }
  }
}

.folder {
  background-image: url(../../../../assets/folder.svg);
  background-repeat: no-repeat;
}

.MEDIA, .IMAGES {
  background-image: url(../../../../assets/vlc.svg);
  background-repeat: no-repeat;
}

.DOCUMENT {
  background-image: url(../../../../assets/doc.svg);
  background-repeat: no-repeat;
}

.PDF {
  background-image: url(../../../../assets/pdf.svg);
  background-repeat: no-repeat;
}

div.folder {
  margin: auto;
  width: 80px;
  height: 80px;
}

div.MEDIA, div.IMAGES {
  margin: auto;
  width: 80px;
  height: 80px;
}

div.DOCUMENT {
  margin: auto;
  width: 70px;
  height: 80px;
}

div.PDF {
  margin: auto;
  width: 70px;
  height: 80px;
}

ul.folder ,
ul.MEDIA ,
ul.IMAGES ,
ul.DOCUMENT ,
ul.PDF {
  height: 30px;
  margin: 2px;
  float: left;
}

.cache {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
}


.info .folder,
.info .DOC,
.info .MEDIA,
.info .PDF
{
  margin-top: 5px;
  width: 30px;
  height: 25px;
  float: left;
}

.context-menu { 
  position: absolute; 
}