<div *ngIf="this.url != '/storage/trash'" class="recents">
  <mat-card *ngFor="let no of tiles">
    <div class="cache">
    </div>
    <div class="info">
      <div class="folder"></div>
      <div class="list_file">Folder</div>
      <div class="size">500kb</div>
    </div>
  </mat-card>
  <mat-divider></mat-divider>
</div>
<div  class="list" *ngIf="this.content.files.length==0 && this.content.folders.length==0">
  <div class="list">
    <br>
    <mat-card>The location is empty</mat-card>
  </div>
</div>
<div *ngIf="iconview == 'grid'" class="items">
  <mat-card *ngFor="let folder of this.content.folders"
    (click)="onfolderclick(folder.name)">
    <div class="folder"></div>
    <div class="name">{{ folder.name }}</div>
  </mat-card>
  <mat-card *ngFor="let file of this.content.files">
    <div class="{{ file.type }}"></div>
    <div class="name">{{ file.name }}</div>
  </mat-card>
</div>
<div *ngIf="iconview == 'list'" class="list">
  <br>
  <mat-list>
    <mat-list-item *ngFor="let folder of this.content.folders">
      <mat-card (click)="onfolderclick(folder.name)">
        <ul class="folder"></ul>
        <div class="list_file">{{ folder.name }}</div>
        <!-- <div class="size">500kb</div> -->
        <div class="date">{{ toreadabledate(folder.mtime) }}</div>
      </mat-card>
    </mat-list-item>
    <mat-list-item *ngFor="let file of this.content.files">
      <mat-card>
        <ul class="{{file.type}}"></ul>
        <div class="list_file">{{ file.name }}</div>
        <div class="size">500kb</div>
        <div class="date">{{ toreadabledate(file.mtime) }}</div>
      </mat-card>
    </mat-list-item>
   </mat-list>
</div>
