<div class="container">
  <mat-card>
    <div class="event">
      <div class="bubbles">
        <div *ngFor="let n of _num_" class="bubble"></div>
      </div>
      <div class="screen">
        <h2>Gurukul Kangri (Deemed to be University)</h2>
        <p>presents</p>
        <h1>Ideas <span>Repository</span></h1>
        <h2 class="title">
          " Developing Online Repository of Ideas<br>
          Developed and way forward plan "
        </h2>
        <div class="link">
          <img class="image">
          <a mat-stroked-button color="primary"
            href="https://gkvv.webex.com/gkvv/j.php?MTID=m014a69f8e315fd78683e54df6d746bc4">
            Join now
          </a>
          <mat-divider [inset]="true"></mat-divider>
        </div>
        <h3>
          Meeting id: 2513 974 8495<br>
          Pass: fet1234
        </h3>
          <br>
      </div>
      <div class="presenter">
        <h3 class="written">
          Greetings from the Department of CSE & IIC cell,
          Gurukula Kangri (Deemed to be University),
          Haridwar.<br>
          We are pleased to inform you that Department of
          Computer Science & Engineering (FET) &
          Institution’s Innovation Council,
          Gurukula Kangri (Deemed to be University),
          Haridwar are jointly organizing a Webinar on
          Developing Online Repository of Ideas Developed
          and Way Forward Plan at 3:00PM.
          <br>
          <br>
          Guest Speaker: <br>
          <span>Dr. Mayank Aggarwal</span><br><br>
          Schedule:<br>
          <span>10th Dec, 2021 3:00PM-4:00PM</span>
        </h3>
      </div>
    </div>
  </mat-card>
</div>