.position{
  height: 22px;
  color: greenyellow;
  font-family: serif;
  position:fixed;
  bottom:8px;
}
.left{
  height: 21px;
  color: greenyellow;
  font-family: serif;
  position:fixed;
  bottom:15px;
  right: 20px;
}