
.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
  padding: 10px 0;
}

.menu li a {
  font: inherit;
  border: 0;
  padding: 7px 30px 7px 15px;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: unset;
  color: white;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
}

.menu li a:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgb(214, 166, 253);
}

.menu li a i {
  padding-right: 10px;
}

.menu li.trash a:hover {
  color: rgb(255, 100, 100);
}