
.context-menu {
  display: none;
  position: absolute;
}

mat-icon {
  font-size: 20px;
  padding-top: 5px;
}

.menu {
  list-style: none;
  display: flex;
  width: 150px;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
  padding: 10px 0;
  mat-divider {
    align-self: center;
    width: 90%;
    height: 0.5px;
    background-color: rgba(255, 255, 255, 0.171);
  }
}

.menu li {
  align-self: center;
  width: 90%;
}

.menu li a {
  border: 0;
  padding: 1px 5px 1px 5px;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: unset;
  color: white;
  cursor: pointer;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
}

.menu li a:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgb(214, 166, 253);
}

.menu li a i {
  padding-right: 8px;
}

.menu li.trash a:hover {
  color: rgb(255, 100, 100);
}

.menu li.share a:hover {
  color: rgb(255, 239, 92);
}