<div class="page">
  <div class="mid-video">
    <div class="video"></div>
    <div class="control"></div>
  </div>
  <div class="chat-box">
    <div class="chat-screen">
      <p>
        You can write publicly..
      </p>
      <div class="other-chat">
        Hey how are you ??
      </div>
      <div class="mine-chat">
        Mmm I am fine...
      </div>
    </div>
    <div class="chat">
      <input type="text" class="write-now" />
      <!-- <mat-form-field class="write-now">
        <input matInput />
      </mat-form-field> -->
      <div class="send"></div>
    </div>
  </div>
</div>