.chat-screen::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

.chat-screen::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}

.chat-screen::-webkit-scrollbar-thumb {
  background-color: grey;    /* color of the scroll thumb */
  border-radius: 5px;       /* roundness of the scroll thumb */
  border: 2px solid gray;  /* creates padding around scroll thumb */
}

p {
  color:rgb(255, 177, 177);
  margin:5px;
  text-align: center;
}

.page {
  background-color: black;
  width: calc(100% - 10px);
  margin: auto;
  border: 5px solid rgb(255, 177, 177);
  height: calc(100% - 60px);
  border-radius: 10px;
}

.mid-video {
  float: left;
  width: calc(100% - 275px);
}

.video {
  height:calc(100vh - 115px);
}

.control {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgb(65, 65, 65));;
  height: 50px;
}

.chat-box {
  float: right;
}

.chat-screen, .chat {
  background-color: rgb(39, 39, 39);
  width: 270px;
  border: 2px solid #000000;
  border-radius: 6px;
}

.chat-screen {
  overflow: auto;
  height:calc(100vh - 110px);
}

.other-chat, .mine-chat{
  background-color: black;
  width: 220px;
  margin: 5px;
  padding: 5px 8px;
  border-radius: 6px;
}

input {
  background-color: black;
  height: 30px;
  color: white;
  padding: 0;
  margin: 0;
  border: 0;
}

.write-now {
  border-radius: 3px;
  border: 5px;
  padding-left: 8px;
  width: 210px;
  background-color: rgb(29, 29, 29);
  margin: 5px;
  border-bottom: 2px solid white;
  font: inherit;
  line-height: 30px;
}

.write-now:focus {
  outline: 0;
  background-color: black;
  border-bottom-color: greenyellow;
}

.other-chat {
  float: left;
  color:aquamarine;
}

.mine-chat {
  float: right;
  color: white;
}

.chat {
  height: 40px;
}

.svg {
  float:right;
  padding: 5px;
}

.send {
  float: right;
  width: 30px;
  height: 30px;
  margin: 6px;
  background-image: url(../../../assets/send.svg);
  background-repeat: no-repeat;
}